%div.padded.center.narrow
  = image_tag 'paper.svg', alt: ''
  %h1 Mensagem criada
  %p
    Compartilhe o link abaixo com quem você quiser que leia.
    %br
    %strong A mensagem e o link serão destruídos após a leitura.

  %input.share-link(readonly autofocus type='text')

:coffee
  $(document).trigger('hash','#{polymorphic_url(@message)}')
