%div.padded.center.narrow
  = image_tag 'envelope.svg', alt: ''
  %h1 Você recebeu uma mensagem secreta
  %p
    Esta mensagem foi criptografada
    %strong e será destruída após a leitura.
  = form_for @message do |f|
    = hidden_field_tag :secret, params[:secret]
    = f.submit 'Ler mensagem', class: 'bt-blue'
