%div.padded.center.narrow
  = image_tag 'envelope.svg', alt: ''
  %h1 Você recebeu uma mensagem secreta
  %p
    Esta mensagem foi criptografada
    %strong e será destruída após a leitura.
  = form_for @message, method: 'delete' do |f|
    = f.submit 'Ler mensagem', class: 'bt-blue'
